<!-- <div class="container"> -->
    <ejs-accumulationchart [legendSettings]='legendSettings' [subTitle]='subTitle' [subTitleStyle]='subTitleStyle' [title]='title' [titleStyle]='titleStyle' [tooltip]='tooltip' [tooltip]='tooltip'  [enableSmartLabels]='enableSmartLabels'>
        <e-accumulation-series-collection>
            <e-accumulation-series [dataSource]='piedata' xName='x' yName='y' innerRadius='50%' [dataLabel]='datalabel'></e-accumulation-series>
        </e-accumulation-series-collection>
    </ejs-accumulationchart>
<!-- </div> -->

<!-- 
<div class="container">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-bar-chart fa-sm"></i> Doughnut Chart
      </div>
      <div class="card-body">
        <ejs-accumulationchart [legendSettings]='legendSettings' [title]='title' [titleStyle]='titleStyle' [tooltip]='tooltip' [tooltip]='tooltip'  [enableSmartLabels]='enableSmartLabels'>
            <e-accumulation-series-collection>
                <e-accumulation-series [dataSource]='piedata' xName='x' yName='y' innerRadius='50%' [dataLabel]='datalabel'></e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
      </div>
    </div>
  </div> -->