<div class="container div-center">
  <div class="card">
    <div class="card-header ">
      <h4>
        Syncfusion Angular Charts
      </h4>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col">
          <app-area-chart></app-area-chart>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <app-multi-column></app-multi-column>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <app-column-chart></app-column-chart>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <app-trackball-chart></app-trackball-chart>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <app-line-series-chart></app-line-series-chart>
        </div>
      </div>
     
      <div class="row mb-2">
        <div class="col">
          <app-doughnut-chart></app-doughnut-chart>
        </div>
        <div class="col">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <app-area-chart></app-area-chart>
        </div>
      </div>
      <hr>
      <div class="row mb-2">
        <div class="col">
          <app-funnel-chart></app-funnel-chart>
        </div>
      </div>
   
    </div>
    <div class="card-footer">
      <div class="row mb-4">
        
      </div>
    </div>
  </div>
</div>