/*
The Bootstrap grid system has four classes:

xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
The classes above can be combined to create more dynamic and flexible layouts.

Tip: Each class scales up, so if you wish to set the same widths for xs and sm, you only need to specify xs. 
*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

/* Media queries */
@media screen and (max-width: 414px) {
    footer{
        height: 100px !important;
        font-size: 12px;
    }
   .sub-title{
       font-size: 13px;
   }
   .seven span{
       font-size: 30px !important;
   }
   .six-span{
       font-size: 18px !important;
   }
   ul > li{
       font-size: 14px;
   }
   td, th{
       font-size: 10px;
   }
   
   input[type=search]{
       height: 30px;
   }
   button[type=button]{
       height: 35px;
   }
   .pagination-previous, .pagination-next{
       font-size: 12px;
       padding: 0;
   }

   h6{
       font-size: 13px !important;
   }
}

@media only screen and (min-width: 415px) and (max-width: 767px) {
    .seven span{
        font-size: 36px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    ul > li{
        font-size: 12px;
    }
    .seven span{
        font-size: 42px !important;
    }
    .card-body{
        padding: 10px !important;
    }
    td, th{
        font-size: 13px;
    }
    
    
    h6{
        font-size: 13px !important;
    }
   
    .form-detail{
        font-size: 11px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .seven span{
       font-size: 52px !important;
   }
}

@media only screen and (max-width: 991px){
    .navbar-brand {
        display: none !important;
    }
}

@media only screen and (min-width: 1200px){
    .card-header {
        font-size: 20px !important;
    }
    .demo-title{
      font-size: 20px;
    }

    .seven span{
      font-size: 60px !important;
    }
    
}
 /* ************************************************ */
 
*,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  .active .nav-item {
    background: #8198b8 !important;
    color: #fff;
  }
  
  .active .nav-link {
    background: rgb(255, 60, 60);
    background: sandybrown;
    color: #fff !important;
  }

  .api-title{
    color: #fff;
  }

  .bg-nav {
    /* background-image: url(assets/img/pexels-photo-4177562.jpeg) !important; */
    /* background-color: #333; */
  }

  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

  .btn-add-cart{
    color: #0000EE !important;
  }

  .btn-add {
    background: #3f75bb !important;
  }

  .btn-add:hover{
    background: #eca511 !important;
  }

  .btn-modal-close{
    color:#dadada !important;
  }

  .btn-text {
    text-decoration: none;
  } 

  button[type=button].btn {
    border-radius: 4px;
    background-color: rgb(162, 181, 202);
    color: #fff;
  }

  button[type=button].btn:enabled {
    border-radius: 4px;
    background-color: rgb(51, 90, 112);
    background-color: #628b9e;
    background: rgba(51, 90, 112, 0.571);
    color: #fff;
  }

  button[type=button].btn:hover:enabled {
    background-color: #628b9e;
    background-color: rgb(51, 90, 112);
  }

  button[type=submit].btn {
    border-radius: 4px;
    background-color: rgb(109, 131, 114);
    color: #fff;
  }

  button[type=submit].btn:enabled {
    border-radius: 4px;
    background-color: #3f75bb;
    background: rgba(51, 90, 112, 0.571);
    color: #fff;
  }

  button[type=submit].btn:hover:enabled {
    background-color: #eca511;
  } 

  .fadein {
    text-align: center;
    opacity: 1;
    -webkit-animation: fadein 8s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 8s;
    /* Firefox < 16 */
    -ms-animation: fadein 8s;
    /* Internet Explorer */
    -o-animation: fadein 8s;
    /* Opera < 12.1 */
    animation: fadein 8s;
  }

  .card-header {
    padding: 8px !important;
    background: rgba(51, 90, 112, 0.571);
    color: #fff;
  }

  .card-header h4{
    font-size: 26px;
  }

  .card-header-sm{
    background: #eef4fa !important;
    color: #fff;
    background: rgb(162, 181, 202) !important;
    font-weight: 500;
    padding: 0;
  }

  .clickable-row{
    cursor: pointer !important;
  }

  .demo-title{
    color: sandybrown;
  }

  .demo-title-sm{
    color:sandybrown;
    font-size: 18px;
  }
   
  .demo-title-lg{
    color:sandybrown;
    font-size: 24px;
  }
  .div-center {
    text-align: center;
  }

  .div-footer {
    margin-top: 60px;
  }

  div.form-group label:first-child {
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  div.form-group input.invalid {
    border: 1px solid #dc3545 !important;
  }

  div.form-group.required>label:first-child:after {
    content: '*';
    color: #fff;
    padding-left: 5px;
  }

  div.form-group label:not(.text-danger) {
    color: #fafafb;
    font-weight: 700;
  }

  .div-hover{
    padding-top: 20px;
    padding-bottom: 0 !important;
    border-bottom: solid 1px #dadada;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
    margin-bottom: 1px;
  }

  .div-hover:hover{
    background: #ebeff5;
  }

  .div-portfolio{
    padding: 20px;
  }

  .div-portfolio > h4{
    color: sandybrown;
    font-size: 24px;
  }
  
  .div-portfolio > img{
    color: #0000EE;
  }

  .div-summary{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 1px #dadada;
    background:#f8f7f7;
    border-radius: 4px;
  }

  div.validation-error {
    color: red;
  }
 
 

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown-item {
    border: 0.1px solid #dbd8d1 !important;
    color: #967f65;
    color: rgb(81, 81, 90);
    font-weight: 400;
  }

  .dropdown-item.active{
    background: #7e9489 !important;
  }

  .dropdown-menu{
    background: #fcf9f9;
    background: #fff;
    border: solid 1px #dadada;
    padding: 0;
  }

  .dropdown-item:hover {
    background: #c0b7a2 !important;
    background: #798db8 !important;
    color: #fff !important;
    background: #628b9e !important;
  }
  
  .fa-lg{
    font-size: 24px !important;
    vertical-align: middle !important;
    color: #3f75bb !important;
    cursor: pointer;
  }

  .fa-sm {
    font-size: 14px !important;
    vertical-align: middle !important;
  }

  .fa-white{
    color: #fff;
  }

  .fa-xl{
    font-size: 36px !important;
    vertical-align: middle !important;
    color: #3f75bb !important;
    /* color:  #002868 !important; */
  }

  .fa-xs{
    font-size: 12px !important;
    vertical-align: middle !important;
  }

  footer {
    color: #fff !important;
    /* background-image: url(assets/img/pexels-photo-4177562.jpeg) !important; */
    /* background-color: #333; */

    /* keep floating footer at bottom of page */
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0 !important;
    color: rgb(142,137,137) !important;
    font-weight: 500;
  }

  .forgot-password {
    color: white;
    font-size: 12px;
  }

  .forgot-password:hover {
    color: #dadada;
  }

  form {
    margin: 0px 16px;
  }

  form.crud-form {
    border-radius: 4% !important;
    padding-top: 0;
  }

  .form-control{
    height: 35px !important;
  }

  .form-detail{
    color: #967f65 !important;
  }

  .form-label {
    color: rgb(142, 137, 137) !important;
    font-weight: 500;
    text-transform: none !important;
    margin-bottom: 0 !important;
  }

  h4{
    color:rgb(142,137,137);
    color: #fff;
  }
  
  h6 {
    box-shadow: 0 1px #dadada;
    color: rgb(142, 137, 137) !important;
  }
  
  html {
    height: 100%;
    box-sizing: border-box;
  }
  
  * {box-sizing: border-box;}

  .header,.sub-header{
    color: #435f9c;
    color: rgba(51, 90, 112, 0.571);
  }

  .header{
    padding: 0;
    background: #ebeff5 !important;
    background: #f3f2eb !important;
    padding: 0 !important;
  }
  
  .header-img{
    color: #3f75bb;
    color: #fff;
    font-weight: 500;
  }
  
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.input-img {
  float: right;
  margin-right: 10px;
  margin-top: -25px; 
  position: relative;
  z-index: 2;
  color: gray;
}

input.form-control:focus {
  box-shadow: none;
}

input.form-control,
input.form-control:focus {
  background-color: #fafafb;
  color: #152e83;
  border: 1px solid #9daac4;
}

input[type=text],
input[type=email],
select {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border-radius: 4px !important;
  color: #967f65 !important;
}

::placeholder {
  color: #857b70 !important;
}

.lbl-count{
  color:sandybrown;
}

.lbl-detail{
  color: #002868
}

.lbl-header{
  color: sandybrown;
}

.lbl-total{
  color:#857b70 !important;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
}

.logout-btn {
  background-color: rgb(83, 165, 233);
  color: #fff;
}

.logout-btn:hover {
  background-color: #eca511;
  color: #fff;
}

.modal-description{
  color:sandybrown;
}

.modal-detail{
  color: #967f65 !important;
}

.modal-header{
  text-align: center !important;
  background: sandybrown !important;
  padding: 8px !important;
}

.modal-title{
  font-weight: 600 !important;
  font-size: 22 !important;
  text-align: center !important;
}

.navbar-nav li:hover .dropdown-menu {
  display: block;
}

.nav-link{
  color: rgb(142,137,137) !important;
  /* font-weight: 500 !important; */
  color: rgb(233, 230, 230) !important;
}

.nav-link:hover {
  cursor: pointer;
  background: #c0b7a2;
  background: #798db8;
  background: #9bbae4 !important;
  background: #628b9e !important;
  color: #fff !important;
}

.no-content{
  font-style: italic;
}

.pad-left{
  padding-left: 0;
}

.pad-left-20{
  padding-left: 20px;
}

.p-logo {
  line-height: 10px;
  word-spacing: -8px;
}

.p-logo-lower {
  font-family: Georgia;
  font-size: 20px;
  color: rgb(142,137,137);
  font-weight: bold;
  position: relative;
  top: 10px;
}

.p-logo-upper {
  font-family: Georgia;
  font-size: 16px;
  color: rgb(142,137,137);
  font-style: normal;
  font-weight: bold;
}

.p-summary{
  color: #857b70 !important;
  text-transform: none !important;
  font-weight: 500;
}

.pm-bottom{
  margin-bottom: 5px;
}

.row-image-desc{
  vertical-align: top;
  color:#0000EE;
}

.selected {
  background-color: #cfd7e6 !important;
  color: #fff !important;
}

.sub-header{
  padding: 5px;
  background: #f7f7f8 !important;
}

.sub-header-img{
  color: #9bbae4;
}

  .tab-header {
    text-align: center;
  }

  .tab-header h2.active {
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #c3cee2;
    border-bottom: 2px solid #9daac4;
  }

  .tab-header h2:focus {
    outline: none;
  }

  .table tr.active td {
    background-color: #cfd7e6 !important;
    font-weight: 500 !important;
  }

  td {
    padding: 8px !important;
    color: #967f65 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  .text-danger {
    color: rgb(255, 0, 0) !important;
    font-weight: bolder !important;
  }

  th {
    font-size: 17px !important;
    color: rgb(142, 137, 137) !important;
    font-weight: 500 !important;
  }
  
  th:hover,
  td:hover {
    cursor: pointer;
  }
  
  #toast-container>div {
    opacity: 1;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #435f9c;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  }

 /* Animation */
 .animate {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }

 .animate span {
   display: inline-block;
 }

 a.repeat {
   display: inline-block;
   text-transform: none;
   text-decoration: none;
   color: orange;
   padding: 5px 12px;
   border: 1px solid rgba(0, 0, 0, 0.15);
   font-weight: normal;
   margin: 0 0 0 50px;
   border-radius: 3px;
   position: relative;
   bottom: 15px;
 }

 a.repeat:hover {
   background: rgba(0, 0, 0, 0.7);
   color: white;
 }

 .animate span:nth-of-type(2) {
   animation-delay: .05s;
 }

 .animate span:nth-of-type(3) {
   animation-delay: .1s;
 }

 .animate span:nth-of-type(4) {
   animation-delay: .15s;
 }

 .animate span:nth-of-type(5) {
   animation-delay: .2s;
 }

 .animate span:nth-of-type(6) {
   animation-delay: .25s;
 }

 .animate span:nth-of-type(7) {
   animation-delay: .3s;
 }

 .animate span:nth-of-type(8) {
   animation-delay: .35s;
 }

 .animate span:nth-of-type(9) {
   animation-delay: .4s;
 }

 .animate span:nth-of-type(10) {
   animation-delay: .45s;
 }

 .animate span:nth-of-type(11) {
   animation-delay: .5s;
 }

 .animate span:nth-of-type(12) {
   animation-delay: .55s;
 }

 .animate span:nth-of-type(13) {
   animation-delay: .6s;
 }

 .animate span:nth-of-type(14) {
   animation-delay: .65s;
 }

 .animate span:nth-of-type(15) {
   animation-delay: .7s;
 }

 .animate span:nth-of-type(16) {
   animation-delay: .75s;
 }

 .animate span:nth-of-type(17) {
   animation-delay: .8s;
 }

 .animate span:nth-of-type(18) {
   animation-delay: .85s;
 }

 .animate span:nth-of-type(19) {
   animation-delay: .9s;
 }

 .animate span:nth-of-type(20) {
   animation-delay: .95s;
 }

 .seven span {
   font-size: 56px;
   color: sandybrown !important;
   font-weight: bolder;
   font-variant: small-caps;
   transform: translate(-150px, 0) scale(.3);
   animation: leftRight cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s forwards;
 }

 .six span {
   font-style: italic;
   color: #002868;
   color: sandybrown !important;
   font-weight: 500;
   font-size: 28px;
   font-variant: small-caps;
   transform: translate(-150px, 0) scale(.3);
   animation: leftRight cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s forwards;
 }

 .five span{
  font-style: italic;
  color: #002868;
  color: sandybrown !important;
  font-weight: 500;
  transform: translate(-150px, 0) scale(.3);
  animation: leftRight cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s forwards;
 }

 @keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

 @keyframes leftRight {
   40% {
     transform: translate(50px, 0) scale(.7);
     opacity: 1;
     color: #348c04;
   }

   60% {
     color: #0f40ba;
   }

   80% {
     transform: translate(0) scale(2);
     opacity: 0;
   }

   100% {
     transform: translate(0) scale(1);
     opacity: 1;
   }
 }

  

 